#navbar{
    display: flex;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.744);
    color: white;
    text-align: center;
    padding: 10px;
   
    
    
}


#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    margin: auto;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    gap: 20px;
    overflow: hidden;

}

img{
    width: 90%;

}
.box{
    text-align: center;
    border: 1px solid red;
    padding: 10px;
}